[Desktop Entry]
Type=Application
Version=1.0
Name=BBQLinux GSettings for Cinnamon
Comment=BBQLinux GSettings for Cinnamon
Exec=/usr/bin/bbqlinux-gsettings-cinnamon.sh
Icon=bbqlinux_icon_blue_32x32
Terminal=false
Categories=System;
